body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}

header {
    background-color: hsl(216, 59%, 69%);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #aaaaaa;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

h2 {
    color:hsl(216, 59%, 69%);
}